* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Roboto, Arial, Helvetica, sans-serif;
}

.intro{
  width: 100%;
  padding: 50px 50px 100px 50px;
  background-color: #23424A;
}

.intro-content{
  max-width: 500px;
  color: #fff;
}

.intro-subtitle{
  margin-bottom: 60px;
  line-height: 1.5;
  max-width: 400px;
}

button{
  border-radius:31px;
  padding: 16px 45px;
  text-transform: uppercase;
  background-color: #38CFD9;
  color: #072A2D;
  letter-spacing: 1px;
  border: none;
  font-weight: 550;
  cursor: pointer;
}