* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
}

.container {
  background: #23424a;
  color: white;
  padding: 50px 0;
}

.intro-content {
  width: 50%;
  max-width: 500px;
  padding-left: 15%;
}

.more-content-container {
  width: 85%;
  max-width: 800px;
  padding-left: 15%;
}
